<section class="canvas">
  <div class="canvas-belt">
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div> 
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
 <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
        <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
 <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
 <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
     <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
 <div class="canvas-space"></div>
    <div class="canvas-space"></div>
    <div class="canvas-space"></div>
  </div>
</section>
